.dashboard
  .form-city
    .box-city
      padding-bottom: 0 !important
      .v-input__slot
        margin-bottom: 4px !important
      .v-text-field__details
        margin-bottom: 0 !important
    .box-btn
      .v-btn
        height: 56px !important
  .loading
    text-align: center